<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger Heaven</title>
        <meta charset="utf-8"/>
        <!-- Will reset css -->
        <!-- <link rel="stylesheet" type="text/css" href="css/reset.css"> -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/deli-very.css">
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="https://vuejs.org/js/vue.js" defer></script>
        <script src="js/menu.js" defer></script>
        <!--<script src="js/js_script.js" defer></script>-->
        <script src="/vue/vue.js" defer></script>
        <script src="js/deli-very.js" defer></script>
    </head>
    <body>
        <header>
            <!-- Fix the opacity of the h1 -->
            <h1>Welcome to BurgerOnline!</h1>
            <img src="img/burger-header1.jpg" alt="burgers">
        </header>
        <main>
            <div id="vue-wrapper">
           <!-------------------------------------- Burger selection part -------------------------------------->

           <!-- ------------------------- VUE ---------------------->
           <section id="burgers">
                <h2>Select burger</h2>
                <div id="grid-wrapper">
                    <div class="inner-grid" v-for="burger in menu">
                        {{burger.name}}
                        <img v-bind:src="burger.img">
                        <ul>
                            <li v-for="all in burger.allergies">{{all}}</li>
                        </ul>
                        <!-- Need go get these different, I don't see how...-->
                        <div class="checkbox">
                            <label for="add-to-order">Add to order</label>
                            <input type="checkbox" id="add-to-order" :value="burger.name" v-model="currentOrderData.orderedBurger"> 
                        </div>
                    </div>
                </div>
            </section>
            

            <!--------------------------------------- Plain JS -------------------------------------------
            <section id="burgers">
                <h2>Select burger</h2>
                <div id="grid-wrapper">

                </div>
            </section>
            -->            
            <!-------------------------------------- Customer part -------------------------------------->
            <section id="contact">
                <h2>Customer information</h2>
                <h3>Delivery information</h3>
                Fill in all of the fields, else you won't get any burgers. Which of course if nice for us, because then we can eat it ourselved!
                But we need money....

                    <form>
                        <div>
                            <label for="Full name">Full name</label>
                            <br>
                            <input v-model="currentOrderData.name" type="text" id="name" name="fn" required="required" placeholder="First- and last name"/>
                            <br>    
                            <label for="E-mail">E-mail</label>
                            <br>
                            <input v-model="currentOrderData.email" type="text" id="email" name="em" required="required" placeholder="E-mail address"/>
                            <br>                            
                        </div>

                    <div>
                        <label for="payment">Payment option</label>
                        <br>
                        <select v-model="currentOrderData.payment" id="payment" name="payment">
                            <option value="cash">Cash</option>
                            <option value="card">Card</option>
                            <option value="swish" selected="select">Swish</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div>
                        <h3>Gender</h3>
                        Please enter your information, because, why not?
                        <input v-model="currentOrderData.gender" type="radio" name="gender" value="Male">Male
                        <input v-model="currentOrderData.gender" type="radio" name="gender" value="Female">Female
                        <input v-model="currentOrderData.gender" type="radio" name="gender" value="Other" checked="checked">Other
                    </div>

<!------------------------------------------ Map ------------------------------------>
      
                    <h1> Click in the map! </h1>
                    <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
                    <div class="view-box">
                      <div id="dots" v-on:click="displayOrder">
                          <div 
                            v-bind:style="{ left: mapInfo.x + 'px', top: mapInfo.y + 'px'}">
                            T
                          </div>
                      </div>
                    </div>
                    <!--<button type="submit" value="Send" id="myButton"><img src="img/delivery.png">Send info</button>-->
                    <button type="submit" value="Send" class="grid-wrapper" v-on:click="addOrder"><img src="img/delivery.png">Send info</button>
                    <button type="button" class="grid-wrapper" v-on:click="showOrHideOrder">Show order.</button>
                    </form>
                </section>
                <div v-for="(order, key) in currentOrder">
                <div id="orderInfo" v-if="!isHidden">
                    <h2>Order confirmation</h2>
                    <br>
                    <h3>Customer details</h3>
                    <br>
                    Name: {{order.personalInfo.name}}<br>
                    Email: {{order.personalInfo.email}}<br>
                    Deliver to: x: {{order.details.x}} y: {{order.details.y}}<br> 
                    Payment: {{order.personalInfo.payment}}<br>
                    Gender: {{order.personalInfo.gender}}<br>
                    <br>
                    <h3>Order details</h3>
                    Burger ordered: {{order.orderItems.join(", ")}}
                </div>
            </div>
        </div>            
    </main>
        <footer>
            <hr>
            &copy Jonathan Gustafsson
        </footer>   
    </body>
</html>
