<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger Heaven</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <!-- This is a comment! -->
        <main>
            <h1>Welcome to BurgerOnline!</h1>
            
            <section>
                <h2>Select burger</h2>
                <h3>The American Dream</h3>
                <div>
                    Have you ever wanted to experience the American Dream? Here is your change.
                    <img src="https://recipes-secure-graphics.grocerywebsite.com/0_GraphicsRecipes/4589_4k.jpg" width="200">
                    <ol>
                        <li>
                            100 % not vegan.
                        </li>
                        <li>
                            100 % not healthy.
                        </li>
                        <li>
                            100 % delicious.
                        </li>
                    </ol>
 
                </div>
            </section>
            
            <section>
                <h2>Customer information</h2>
            </section>

            
        </main>
        <footer>
            <hr>
            &copy Jonathan Gustafsson
        </footer>   
    </body>
</html>
