

/* Comment is written like this  */

@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: "Droid Serif", sans-serif;
    font-size: 1.5em;
    margin: 0;
}

section{
    margin: 10px;
    padding-left: 10px;
}


header img{
    height: 400px;
    width: 100%;
    opacity: 0.5;
    height: auto;
}

header{
    margin: 10px;
    padding: 10px;
    height: auto;
    overflow: hidden;
}

header h1{
    position: absolute;
    padding: 15px;
    z-index: 1;
}

#grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
}

#grid-wrapper img{
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.inner-grid{
    display: grid;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.add-to-order{
    text-align:center; 
    vertical-align:middle;
}

.allergie{
    font-weight: bold;
    color: red;
    text-transform: uppercase;
}

#burgers{
    background-color: black;
    color: white;
}

button:hover{
    background-color: aqua;
}


#burgers{
    border: 2px dashed white;
}

#contact{
    border: 2px dashed black;
}

#orderInfo{
    margin-left: 30px;
}

button{
    margin: 10px;
    width: 20%;
}

button img {
    width: 15px;
    padding-right: 10px;
}

