

/* Comment is written like this  */

@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: "Droid Serif", sans-serif;
    font-size: 1.5em;
}


.allergie{
    font-weight: bold;
    color: red;
    text-transform: uppercase;
}

