

/* Comment is written like this  */

@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");


body {
    font-family: "Droid Serif", sans-serif;
    font-size: 1.5em;
    margin: 0 auto;
}


.allergie{
    font-weight: bold;
    color: red;
    text-transform: uppercase;
}

#burgers{
    background-color: black;
    color: white;
}

button:hover{
    background-color: aqua;
}

table{
    width: 75%;
}

td{
    text-align: center;
}

header{
    margin: 10px;
    padding: 10px;
}

header.img{
    opacity: 0.5;
}

section{
    margin: 10px;
    padding: 10px;
}

#burgers{
    border: 2px dashed white;
}

#contact{
    border: 2px dashed black;
}

button{
    width: 10%;
}

#headerImg{
    opacity: 0.5;
    width: 100%;
    height: 25%;
}